# SmartLocker backend
PORT=5000
MONGO_URI=mongodb://mongo:27017/airbnb_smart_locker
JWT_SECRET=zamenjaj_to_skrivnost

# SmartLocker frontend
VITE_API_URL=http://localhost:5000

# ORV FastAPI
ORV_API_PORT=8000

# Direct4me - ne vpisujte pravega kljuca v GitHub.
DIRECT4ME_API_KEY=your_direct4me_api_key_here
DIRECT4ME_API_URL=https://api-d4me-stage.direct4.me/sandbox/v1/Access/openbox
